:root {
  --dark: #1e2020;
  --rust: #ce422b;
  --notwhite: #f6eae0;
}

body {
  display: flex;
  flex-direction: column;
  
  background: url(../assets/rust-truck-full-edit.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  background: var(--dark);
  grid-area: header;
}

header img {
  max-width: 80%;
  height: auto;
}

.smaller {
  width: 10%;
  height: auto;
}

.wide {
  grid-area: main;
}

.thin {
  grid-area: sidebar;
}

.full {
  grid-area: footer;
}

main {
  height: 100vh;

  display: grid;
  grid-template-columns: 3fr .5fr;
  grid-template-rows: .5fr 4fr .5fr;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.lgcenter {
  width: 100%;
}

.card {
  max-width: 40ch;
  margin: 0 1rem 2rem 1rem;
  border-radius: .5rem;
  box-shadow: 8px 10px 5px var(--dark);

  background: var(--notwhite);
}

aside {
  display: flex;

  background: var(--rust);
  height: 100%;

  margin-right: .5rem;
}

nav {
  width: 100%;
}

nav ul {
  padding-left: 0;
}

nav ul li a {
  display: block;

  width: 100%;
  padding: 1rem;
}

nav ul li a:hover, :active {
  background: #b4250f;
}

footer {
  background: var(--dark);
}