/* All the beautiful styles for this page!
  TO DO:
  - Create hamburger menu with checkbox hack
  - Use checkbox hack again to toggle contact form visibility
  - Link to Doc's donations site of choice. 
  */

:root {
  --dark: #1e2020;
  --rust: #ce422b;
  --notwhite: #f6eae0;
}

body {
  display: flex;
  flex-direction: column;

  background: gray;
}

/* Simple styles for the page header, keep the aspect ratios of the images and allow flexibility */

header {
  display: flex;
  background: var(--dark);
  grid-area: header;
}

header img {
  max-width: 80%;
  height: auto;
}

.smaller {
  width: 100%;
  height: auto;
  margin-top: .5rem;
}

/* Grid Template Areas */

.wide {
  grid-area: main;
}

.thin {
  grid-area: sidebar;
}

.full {
  grid-area: footer;
}

/* The container for all the things! */

main {
  height: 100vh;

  display: grid;
  grid-template-columns: 3fr .5fr;
  grid-template-rows: .5fr 4fr .5fr;
  grid-template-areas:
    "header header"
    "main sidebar"
    "footer footer";
}

/* Container for the cards */

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* The simple, yet descriptive headline */

.lgcenter {
  width: 100%;
  align-self: center;
}

/* General layout for cards on the page */

.card {
  max-width: 40ch;
  margin: 0 1rem 2rem 1rem;
  border-radius: .5rem;
  box-shadow: 8px 10px 5px var(--dark);

  background: var(--notwhite);
}

/* Main call to action button, get them players into the discord! */

.action {
  background: var(--rust);
  color: var(--notwhite);

  border-radius: .5rem;
  padding: 1rem;
}

/* A right-aligned nav menu! I might put it into a Hamburger menu later on */

aside {
  display: flex;

  background: var(--rust);
  height: 100%;

  margin-right: .5rem;
}

nav {
  width: 100%;
}

nav ul {
  padding-left: 0;
}

nav ul li a {
  display: block;

  width: 100%;
  padding: 1rem;
}

nav ul li a:hover, nav ul li a:active, .action:hover, .action:active {
  background: #b4250f;
}

#open {
  display: block;
  color: var(--notwhite);
  cursor: pointer;
  padding: 1rem;
}

#open:hover, #open:active {
  background: #b4250f;
}

/* just a footer */

footer {
  background: var(--dark);
}

/* The Hidden Form! styled and ready to be linked up, just not sure how to. considering bypassing the JavaScript and using a checkbox hack here, as well as for the hamburger menu. */

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  z-index: -1;

  position: absolute;
  height: 100vh;
  width: 100vw;

  background: hsla(44, 1%, 15%, 85%);

  color: var(--notwhite);
  opacity: 0;
}

.contact fieldset {
  background: var(--dark);
  padding: 2rem;
}

label {
  display: block;
  width: 100%;
  margin: 1rem 0;
}

input {
  width: 100%;
  background: var(--rust);
  border: none;
  color: var(--notwhite);
  padding: 1rem;
  font-size: 1.5rem;
}

textarea {
  width: 40ch;
  max-width: 60ch;
}

.submit {
  background: var(--rust);
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  width: 25%;
}

.show {
  opacity: 1;
  z-index: 2;
}



/* Large background image for tablets/desktop */

@media screen and (min-width: 50rem) {
  body {
  background: url(../assets/rust-truck-full-edit.jpg);
  background-size: cover;
  }
}